@font-face {
  font-family: marker;
  src: url(fonts/PermanentMarker-Regular.ttf);
}

html {
  height: 100%;
  display: table;
  margin: auto;
}

body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background: yellow;
}

.episodes{
  margin: 0 auto;
}

.audio-player {
  background: #fffff0;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  width: 60vw;
  text-align: center;
  display: flex;
  flex-flow: row;
  margin: 3em auto;
}
.audio-player .album-image {
  min-height: 12vw;
  width: 12vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  flex: 3;
}
.audio-player .player-controls progress {
  margin-top: 7.5%;
  width: 90%;
}
.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: blue;
  height: 5px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  color: blue;
}
.audio-player .player-controls progress::-webkit-progress-value {
  background-color: blue;
}
.audio-player .player-controls p {
  font-size: 2rem;
}
.audio-player #play-btn {
  background-image: url('images/play-button.png');
  background-size: cover;
  width: 8.5vw;
  height: 8.5vw;
  margin: 2rem 0 2rem 2rem;
}
.audio-player #play-btn.pause {
  background-image: url('images/pause-button.png');
}
.audio-player #play-btn_1 {
  background-image: url('images/play-button.png');
  background-size: cover;
  width: 8.5vw;
  height: 8.5vw;
  margin: 2rem 0 2rem 2rem;
}
.audio-player #play-btn_1.pause {
  background-image: url('images/pause-button.png');
}
.audio-player #play-btn_2 {
  background-image: url('images/play-button.png');
  background-size: cover;
  width: 8.5vw;
  height: 8.5vw;
  margin: 2rem 0 2rem 2rem;
}
.audio-player #play-btn_2.pause {
  background-image: url('images/pause-button.png');
}

p {
  font-family: marker;
}
@media screen and (max-width: 600px) {
  .audio-player .player-controls p {
    font-size: 1rem;
  }
  .audio-player {
    width: 90vw;
    height: 22.5vw;
  }

  .audio-player .album-image {
    min-height: 22.5vw;
    width: 22.5vw;
  }

  .audio-player .player-controls progress {
    margin-top: 0%;
  }
}