@font-face {
  font-family: text;
  src: url(fonts/segoeui.ttf);
}


.dd_bar {
  position: relative;
  display: flex;
  flex-flow: row;
  margin: 0 auto 0 auto;
}

input#dd_button {
  display: none;
}

.icon {
  background: white;
  cursor: pointer;
  display: block;
  height: 24px;
  padding: 16px;
  width: 24px;
  top: 0;
}

.icon[data-theme='dark'] {
  background: red;
}

label.icon {
  position: absolute;
  z-index: 200;
  margin-left: 78%;
}

.icon .dd_button,
.icon .dd_button::before,
.icon .dd_button::after {
  background: #9fb1bd;
  content: "";
  display: block;
  height: 2.5px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 30px;
}

.icon .dd_button[data-theme='dark'],
.icon .dd_button::before[data-theme='dark'],
.icon .dd_button::after[data-theme='dark'] {
  background: red;
}

.icon:hover .dd_button1,
.icon:hover .dd_button1::before,
.icon:hover .dd_button1::after {
  background: #df352f;
}

.icon .dd_button {
  left: 21px;
  top: 30px;
}

.icon .dd_button::before {
  top: -6px;
}

.icon .dd_button::after {
  top: 6px;
}

#dd_button:checked + .icon .dd_button {
  background: transparent;
}

#dd_button:checked + .icon .dd_button::before {
  transform: rotate(45deg);
}

#dd_button:checked + .icon .dd_button::after {
  transform: rotate(-45deg);
}

#dd_button:checked + .icon .dd_button::before,
#dd_button:checked + .icon .dd_button::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

nav { 
  position: relative;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 2.5vw;
  padding-top: 60px;
  transition: height ease 0.6s;
  width: 60vw;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  margin: 0 auto 0 auto;
}

.dd_text{
  margin: 0.5vw 2vw;
  font-family: text;
  font-size: 1.25vw;
}

#dd_button:checked ~ nav {
  height: 12vw;
}

@media screen and (max-width: 600px) {
  .icon .dd_button {
    left: 14px;
    top: 21px;
  }

  label.icon {
    margin-left: 85%;
  }

  .icon .dd_button,
  .icon .dd_button::before,
  .icon .dd_button::after {
    height: 1.75px;
    width: 20px;
  }

  nav{
    padding-top: 40px;
    width: 90vw;
  }

  .dd_text{
    font-size: 3.5vw;
  }

  #dd_button:checked ~ nav {
    height: 40vw;
  }
}